nav{
    background-color: #D5A98E;
    opacity: 95%;
}

.navbar-toggler{
    --bs-navbar-toggler-focus-width: 0;   
}

.designe-underline {
    position: relative;
}

.designe-underline::after {
    position: absolute;
    content: '';
    bottom: -12%;
    left: 1%;
    width: 35%;
    height: 10%;
    background-color: #BB9457;
}

.designe-underline2 {
    position: relative;
}

.designe-underline2::after {
    position: absolute;
    content: '';
    bottom: -14%;
    left: 1%;
    width: 51%;
    height: 10%;
    background-color: #BB9457;
}
.btnn {
    background-color: #6F1D1B;
    color: white;
    border-radius: 10px;
    padding: 5px 18px;
    border: none;
}

.img {
    width: 80%;
}

html, body {
    /* max-width: 100%; */
    overflow-x: hidden;
}


#carouselExampleCaptions {
    max-width: 100%; 
    margin: 0 auto; 
}


.img-carousel {
    height: 500px;
    object-fit: cover;
}